# Ignore a specific directory
uploads/
PocketHunter/

# Ignore a specific file
.DS_Store
.env

# Ignore Python-specific files and directories
__pycache__/
*.pyc

# Ignore environment and IDE files
.idea/
.vscode/

# Ignore these folders from now on
job_statuses/
results/
test_output/
test_ligands/
